<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Top Songs</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <style>
            h1 {
                text-align: center;
                font-weight: bolder;
            }
            body {
                background-color: #BBE2EB;
            }
            p {
                font-weight: bold;
                margin-left: 5%;
            }
            if {
                font-weight: lighter;
                margin-left: 5%;
            }
            form {
                margin-left: 5%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/TopSongs">Top Songs</a>
                    </li>
                </ul>
            </div>
        </nav><br/><br/><br/>
        <h1>Top Songs by Popularity</h1>  
        <a href="/" class="top-songs-button" style="margin-left: 5%;">Top Songs</a><br/>
        <form method="POST" action="/TopSongs">
            <label for="search_option">Search Option:</label><br/>
            <input type="radio" name="search_option" value="artist" checked> Artist
            <input type="radio" name="search_option" value="year"> Year<br/>
            <input type="text" name="search_query">
            <input type="submit" value="Search">
        </form><br/><br/>
        <div>
            {% if top_songs %}
            <div id="topSongs" style="margin-left: 5%;"></div>
            {{ top_songs | safe }}
            {% endif %}
        </div><br/>
        <script>
            // Function to pause all other audio elements when a new one is played
            function pauseOtherAudios(currentAudio) {
                const audioElements = document.querySelectorAll('audio');
                audioElements.forEach(audio => {
                    if (audio !== currentAudio) {
                        audio.pause();
                    }
                });
            }

            // Function to play or pause the audio when the play button is clicked
            function toggleAudio(audio, playButton) {
                if (audio.paused) {
                    pauseOtherAudios(audio);
                    audio.play();
                    playButton.innerText = 'Pause';
                } else {
                    audio.pause();
                    playButton.innerText = 'Play';
                }
            }

            // Add click event listeners to each play button
            const playButtons = document.querySelectorAll('.play-button');
            playButtons.forEach(button => {
                const audio = button.nextElementSibling;
                button.addEventListener('click', () => toggleAudio(audio, button));
            });
        </script>
    </body>
</html>
