<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Top Songs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
            font-weight: bolder;
        }
        body {
          background-color: #BBE2EB;
        }
        p {
          font-weight: bold;
        }
        h3 {
            font-weight: lighter;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/TopSongs">Top Songs</a>
            </li>
          </ul>
          </ul>
        </div>
      </nav><br/><br/><br/>
    <h1>Top Songs by Popularity</h1>
    <a href="/" class="top-songs-button">Top Songs</a><br/>
    <form method="post">
        <label for="search_option">Search Option:</label><br/>
        <input type="radio" id="artist_option" name="search_option" value="artist" {% if search_option == 'artist' %}checked{% endif %}>
        <label for="artist_option">Artist</label><br>
        <input type="radio" id="year_option" name="search_option" value="year" {% if search_option == 'year' %}checked{% endif %}>
        <label for="year_option">Year</label><br><br>
        <label for="search_query">Search Query:</label>
        <input type="text" id="search_query" name="search_query" value="{{ search_query }}"><br><br>
        <input type="submit" value="Search">
    </form><br/>
    {% if top_songs %}
        <div id="topSongs">
            <h3>Top 10 Songs:</h3>
            {{ top_songs|safe }}
        </div>
    {% endif %}
</body>
</html>

